body {
  background-color: #232323;
  margin: 0;
  font-family: "Montserrat","Avenir", sans-serif;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

h1 {
  color: white;
  text-align: center;
  line-height: 1.1;
  font-weight: normal;
  text-transform: uppercase;
  background-color: steelblue;
  margin: 0;
  padding: 20px 0;
}

#stripe {
  background-color: #ffffff;
  height: 30px;
  text-align: center;
  color: #000000;
}

.selected {
  background-color: blue;
}

#colorDisplay {
  font-size: 200%;
}